<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            Scrape from Sfgate <a href="https://www.sfgate.com/"></a>
            <a class="json-footer" href="/articles-json"></a>
        </div>
    </div>
</footer>